@font-face {
  font-family: 'adelia';
  src: url('fonts/adelia/adelia.otf')
}

@font-face {
  font-family: 'caviar';
  src: url('fonts/caviar_dreams/CaviarDreams.ttf')
}


@font-face {
  font-family: 'charlotte';
  src: url('fonts/charlotte/charlotte.otf')
}

* {
  font-family: caviar;
}

a {
  text-decoration: none;
}

.info {
  min-height: 35dvh;
}

#content {
  display:flex;
  width:100%;
  justify-content: space-evenly;
}



/* Largest devices such as desktops (1280px and up) */
#mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#desktop-menu {
  background-color: #fff;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(1, 20, 8);
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  justify-content: space-around;
}

#desktop-menu a {
  color: white;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1rem;
}

.content-container {
  min-height: 800px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-Direction: column;
}

#names {
  padding-top: 1%;
  z-index: 100;
  font-size: 4rem;
  color: white;
  min-width: 650px;
  width: 28%;
  transform: rotate(350deg);
  font-family: adelia;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#background {
  min-height: 50dvh;
  background: url('img2_crop.jpg') no-repeat;
  background-size: cover;
  min-width: 100dvw;
}

#filter {
  z-index: 100;
  height: 50dvh;
  width: 100dvw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 50, 32, 0)
}

.App {
  height: 100dvh;
  width: 100dvw;
  text-align: center;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.photo {
  display: flex;
  justify-content: center;
  width: 100%
}

html,
body {
  height: 100%;
  overflow: auto
}

#getting-married {
  min-height: 40dvh;
}



/* Small devices such as large phones (330px and up) */
@media only screen and (min-width: 130px) and (max-width:768px) {


  #content {
    margin-top: 1%;
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: space-evenly;
  }
  


  #names {
    font-size: 0.2rem;
    min-width: 200px;
  }

  #getting-married {
    min-height: 35dvh;
  }

  #location-photo {
    border: none;
    max-width: 100%
  }

  #main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #filter {
    z-index: 100;
    height: 23%;
    width: 100%;
  }

  #background {
    min-height: 31.533dvh;
  }

  #desktop-menu {
    display: none
  }

  #mobile-menu {
    display: inline-block
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  .info-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}