@font-face {
  font-family: 'adelia';
  src: url('fonts/adelia/adelia.otf')
}

@font-face {
  font-family: 'caviar';
  src: url('fonts/caviar_dreams/CaviarDreams.ttf')
}


@font-face {
  font-family: 'charlotte';
  src: url('fonts/charlotte/charlotte.otf')
}

* {
  font-family: caviar;
}

/* Largest devices such as desktops (1280px and up) */
#mobile-menu {
  position: sticky;
  top:0;
  left:0;
  display: none;
}

#desktop-menu {
  background-color: rgba(1, 20, 8, 0.8);
  z-index: 100;
  padding: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: space-around;
}

#menu a {
  color: white;
}

h1 {
  font-size: 3rem;
}

.content-container {
  min-height: 800px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-Direction: column;
}

#names {
  padding-top: 1%;
  z-index: 100;
  font-size: 4rem;
  color: white;
  min-width: 650px;
  width: 28%;
  transform: rotate(350deg);
  font-family: adelia;
}

#main-container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#background {
  height: 75dvh;
  width: 100dvw;
  position: absolute;
  top: 0;
  left: 0;
  background: url('img2_crop.jpg');
  background-size: cover;
}

#filter {
  z-index: 100;
  height: 75dvh;
  width: 100dvw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 50, 32, 0)
}

.App {
  height: 100dvh;
  width: 100dvw;
  text-align: center;

}

body {
  margin: 0;
  padding: 0;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Small devices such as large phones (330px and up) */
@media only screen and (min-width: 130px) and (max-width:768px) {
  #names {
    font-size: 1.5rem;
  }

  #background {
    height: 23%;
    width: 100%;
    background: url('img2_crop.jpg');
    background-size: contain;
  }

  #filter {
    z-index: 100;
    height: 23%;
    width: 100%;
  }

  #desktop-menu {
    display: none;
  }

  #mobile-menu {
    display: block;
  }
}



/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {}